In [2]:
!pip install pandas numpy matplotlib seaborn

Collecting pandas
  Downloading pandas-2.3.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy
  Downloading numpy-2.3.4-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting matplotlib
  Downloading matplotlib-3.10.7-cp311-cp311-win_amd64.whl.metadata (11 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\envs\jupyter7\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\jupyter7\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\envs\jupyter7\lib\site-packages (from pandas) (2025.2)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp311-cp311-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.60.1-cp311-cp311-win_amd64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp311-cp311-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\envs\jupyter7\lib\site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-12.0.0-cp311-cp311-win_amd64.whl.metadata (9.0 kB)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\jupyter7\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp311-cp311-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ------ --------------------------------- 1.8/11.3 MB 9.1 MB/s eta 0:00:02
   -------------- ------------------------- 4.2/11.3 MB 10.5 MB/s eta 0:00:01
   ------------------------ --------------- 6.8/11.3 MB 11.0 MB/s eta 0:00:01
   -------------------------------- ------- 9.2/11.3 MB 11.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.3 MB 11.4 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 10.8 MB/s  0:00:01
Downloading numpy-2.3.4-cp311-cp311-win_amd64.whl (13.1 MB)
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
   ------- -------------------------------- 2.4/13.1 MB 12.2 MB/s eta 0:00:01
   --------------- ------------------------ 5.0/13.1 MB 12.1 MB/s eta 0:00:01
   ---------------------- ----------------- 7.3/13.1 MB 11.6 MB/s eta 0:00:01
   ----------------------------- ---------- 9.7/13.1 MB 11.8 MB/s eta 0:00:01
   ------------------------------------ --- 12.1/13.1 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------- 13.1/13.1 MB 11.1 MB/s  0:00:01
Downloading matplotlib-3.10.7-cp311-cp311-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ----------- ---------------------------- 2.4/8.1 MB 11.2 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/8.1 MB 11.4 MB/s eta 0:00:01
   ---------------------------------- ----- 7.1/8.1 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 10.9 MB/s  0:00:00
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.3-cp311-cp311-win_amd64.whl (225 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.1-cp311-cp311-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   -------------------------------- ------- 1.8/2.3 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 8.6 MB/s  0:00:00
Downloading kiwisolver-1.4.9-cp311-cp311-win_amd64.whl (73 kB)
Downloading pillow-12.0.0-cp311-cp311-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   ------------- -------------------------- 2.4/7.0 MB 11.2 MB/s eta 0:00:01
   -------------------------- ------------- 4.7/7.0 MB 11.4 MB/s eta 0:00:01
   -------------------------------------- - 6.8/7.0 MB 11.0 MB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 10.5 MB/s  0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib, seaborn

   ----------------------------------------  0/10 [pyparsing]
   ---- -----------------------------------  1/10 [pillow]
   ---- -----------------------------------  1/10 [pillow]
   ---- -----------------------------------  1/10 [pillow]
   ---- -----------------------------------  1/10 [pillow]
   ---- -----------------------------------  1/10 [pillow]
   ---- -----------------------------------  1/10 [pillow]
   ---- -----------------------------------  1/10 [pillow]
   ---- -----------------------------------  1/10 [pillow]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   -------- -------------------------------  2/10 [numpy]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ---------------- -----------------------  4/10 [fonttools]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ------------------------ ---------------  6/10 [pandas]
   ---------------------------- -----------  7/10 [contourpy]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   -------------------------------- -------  8/10 [matplotlib]
   ------------------------------------ ---  9/10 [seaborn]
   ------------------------------------ ---  9/10 [seaborn]
   ------------------------------------ ---  9/10 [seaborn]
   ------------------------------------ ---  9/10 [seaborn]
   ------------------------------------ ---  9/10 [seaborn]
   ---------------------------------------- 10/10 [seaborn]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.7 numpy-2.3.4 pandas-2.3.3 pillow-12.0.0 pyparsing-3.2.5 seaborn-0.13.2

In [4]:
import pandas as pd
df = pd.read_csv('customer_shopping_behavior.csv')

In [5]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [7]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [8]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [9]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [10]:
#removing null values in the review rating column by replacing each category item with the median of that category to not include bias
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x : x.fillna(x.median()))

In [11]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [16]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [17]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [21]:
#assigning a new column >> feature engineering
label = ['Yound-Adults','Adults','Middle-Aged','Senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels=label)

In [22]:
df[['age','age_group']].head(5)

   age     age_group
0   55   Middle-Aged
1   19  Yound-Adults
2   50   Middle-Aged
3   21  Yound-Adults
4   45   Middle-Aged

In [38]:
#another feature purchase_frequency_days
#convert the text form to numbers
# df['frequency_of_purchases'] = df['frequency_of_purchases'].str.strip().str.title()

frequency_mapping = {
    'Fortnightly': 14, 
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}


df['purchase_frequency_days']= df['frequency_of_purchases'].map(frequency_mapping)

In [39]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [40]:
df[['discount_applied','promo_code_used']].head()

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [43]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [44]:
df = df.drop('promo_code_used',axis=1)

In [45]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_day',
       'purchase_frequency_days'],
      dtype='object')

In [46]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\envs\jupyter7\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ----------- ---------------------------- 0.8/2.7 MB 4.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.3/2.7 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 3.5 MB/s  0:00:00
Downloading sqlalchemy-2.0.44-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.1 MB 4.8 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.1 MB/s  0:00:00
Downloading greenlet-3.2.4-cp311-cp311-win_amd64.whl (299 kB)
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy

   ---------------------------------------- 0/3 [psycopg2-binary]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.2.4 psycopg2-binary-2.9.11 sqlalchemy-2.0.44
Note: you may need to restart the kernel to use updated packages.

In [49]:
#1connecting to the postgreSQL
from sqlalchemy import create_engine

username = "postgres"
password = "Pulse1234$"
host = "localhost"
port = "5432"
database = "customer_behavior"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")
#1sending the csv to postgreeSQL
table_name = "customer"
df.to_sql(table_name,engine,if_exists ="replace",index=False)
print(f"Data Successfully loaded into table '{table_name}' in database '{database}' ")

Data Successfully loaded into table 'customer' in database 'customer_behavior'